 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1366px;
	 height: 768px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Layer8 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1366px;
	 height: 768px;
	 z-index:1;
} 

 #Background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1366px;
	 height: 768px;
	 z-index:2;
} 

 #VectorSmartObject 
{ 
	 left: 0px; 
	 top: -107px; 
	 position: absolute; 
	 width: 912px;
	 height: 907px;
	 z-index:3;
} 

 #VectorSmartObject_0 
{ 
	 left: -855px; 
	 top: 224px; 
	 position: absolute; 
	 width: 2692px;
	 height: 510px;
	 z-index:4;
} 

 #signinwithyourhathwa 
{ 
	 left: 953px; 
	 top: 308px; 
	 position: absolute; 
	 width: 248px;
	 height: 44px;
	 z-index:5;
} 

 #RoundedRectangle3 
{ 
	 left: 1157px; 
	 top: 496px; 
	 position: absolute; 
	 width: 96px;
	 height: 35px;
	 z-index:6;
} 

 #Ellipse1 
{ 
	 left: 1149px; 
	 top: 503px; 
	 position: absolute; 
	 width: 21px;
	 height: 21px;
	 z-index:7;
} 

 #Ellipse1copy 
{ 
	 left: 1239px; 
	 top: 503px; 
	 position: absolute; 
	 width: 21px;
	 height: 21px;
	 z-index:8;
} 

 #UserName 
{ 
	 left: 918px; 
	 top: 391px; 
	 position: absolute; 
	 width: 93px;
	 height: 14px;
	 z-index:9;
} 

 #Layer4 
{ 
	 left: 1013px; 
	 top: 386px; 
	 position: absolute; 
	 width: 255px;
	 height: 33px;
	 z-index:10;
} 

 #Password 
{ 
	 left: 917px; 
	 top: 441px; 
	 position: absolute; 
	 width: 99px;
	 height: 16px;
	 z-index:11;
} 

 #Login 
{ 
	 left: 1186px; 
	 top: 506px; 
	 position: absolute; 
	 width: 40px;
	 height: 16px;
	 z-index:12;
} 

 #ForgotPassword 
{ 
	 left: 1155px; 
	 top: 540px; 
	 position: absolute; 
	 width: 100px;
	 height: 12px;
	 z-index:13;
} 

 #Layer4copy 
{ 
	 left: 1013px; 
	 top: 436px; 
	 position: absolute; 
	 width: 255px;
	 height: 33px;
	 z-index:14;
} 

 #VectorSmartObject_1 
{ 
	 left: 65px; 
	 top: 219px; 
	 position: absolute; 
	 width: 601px;
	 height: 128px;
	 z-index:15;
} 
